<!DOCTYPE html>
<html>
  <head>
    <title>edit-profile</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../stylesheets/changePassword.css"
    />
    <script type="text/javascript" src="../javascripts/changepassword.js"></script>
  </head>

  <body>
    <div id="photik">
      <div id="logo_div">
        <a href="/">
          <h1 id="logo">Pothik</h1>
        </a>
      </div>
      <div id="search">
        <form id="dearch_f" action="#">
          <input
            id="search_bar"
            type="text"
            placeholder="Search.."
            name="search"
            required
          />
          <div id="search_b">
            <button id="search_button" type="submit">
              <img id="search_icon" src="images/search icon.png" />
            </button>
          </div>
        </form>
      </div>

      <!--For Loged In User-->

      <div id="homeSection">
        <span> <a id="home" href="/">Home</a> </span>
      </div>

      <div id="user">
        <div id="myaccount">
          <nav role="navigation">
            <ul>
              <li>
                
                <img id="profileImageIndex"src="./profileCoverImage/<%= userData.profileImage %>" /> 
                <ul class="dropdown">
                  <li><a href="/my-profile"> My Profile</a></li>
                  <li><a href="#">Settings</a></li>
                  <li><a href="#">Propertyed</a></li>
                  <li><a href="/logout">Logout</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <!--non Logeni-->
    </div>





    <!--Body-->

    <div id='MainContent'>
    <div id="hederText"><h2 id="changepasswordText">Change Password</h2></div>
    <div id="errprmsg">
<!-- Current password Error-->
         <% if(errorMsg.currentPassword){ %>
          <p id="errorMsg"><%= errorMsg.currentPassword.msg  %></p> 
          <% } %>
<!-- new password Error-->
          <% if(errorMsg.UpdatePassword){ %>
            <p id="errorMsg"><%= errorMsg.UpdatePassword.msg  %></p> 
            <% } %>
<!--  Error masswge-->
            <% if(Msg){ %>
              <p id="errorMsg"><%= Msg  %></p> 
              <% } %>

<!-- Success Massege-->
              <% if(successMsg){ %>
                <p id="successMsg"><%= successMsg  %></p>
               
                <% } %>
        
        
        
        </div>


     <form  action='/updateUserpassword' method="post"> 
    <div id="passwordUpdate">
        <span id="CurrentPasswordText">Current Password :</span><br>
        <input id="currentPassword" type="password" name="currentPassword"><br>
        <span id="updatePasswordText"> New Password :</span><br>
        <input id="updatePassword"  type="password" name="UpdatePassword" onkeyup="Password_Strength(this.value)">
    </div>
    <div id="password_strength"><span id="password_strengthT"></span></div>
    <div id="updatebutton">
        <button id="updatepasswordbtn" type="submit">Update</button>
    </div>
    </form>


    </div>

    <div id='footer'>

      <a href="/aboutUs">about us</a>
      <a href="/privacy">privacy and policy</a>
      <a href="/contact">contact</a>
      <a href="/about cookie">about cookie</a>
      <a href="/feedback">feedback</a>
      <span id="copy">&copy;</span> <span id="demo" ></span><span id="web">-pothik</span>
    
      </div>
      <script>
        var d = new Date();
        document.getElementById("demo").innerHTML = d.getFullYear();
        
        </script>
</body>
</html>